<div class="jumbotron mt-4">
    <div class="display-4">
        AgendApp
    </div>
    <p class="lead"> 
        Registro de clientes, agendar reuniones y recordatorios,
    </p>
    <hr class="my-4">
    <a href="/register" class="btn btn-primary">Registrate! </a>    
    
</div>