@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);

a, a:hover {
    text-decoration: none;
    outline: none;
    color: black;

}
.fabutton {
    background: none;
    padding: 0px;
    border: none;
}
.note {
    border:0;
    background: linear-gradient(#fffbbb, #fcf8b4);
}
#pacientes img {
    height: 200px;
    width: 200px;
}
#image-field {
    height: 200px;
    width: 200px;
}
.card-footer p{
    font-size: 12px;
}
svg {
    width: 21px;
}

.file-input__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-input__label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding: 10px 12px;
    background-color: #4245a8;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

.file-input__label svg {
    height: 16px;
    margin-right: 4px;
}
