@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);

a, a:hover {
    text-decoration: none;
    outline: none;
    color: black;

}

.fabutton {
    background: none;
    padding: 0px;
    border: none;
}
.note {
    font:18px 'Gloria Hallelujah', cursive;
    border:0;
    background: linear-gradient(#F9EFAF, #F7E98D);

}

.card-footer p{
    font-size: 14px;
}

.lista-citas .cita {
    border-bottom: 1px solid #e1e1e1;
    padding: 2rem;
    padding-bottom: 3rem;

}
.lista-citas .cita:last-of-type {
    border-bottom: 0;
}

.lista-citas .cita p {
    margin:0;
}
.lista-citas .cita button {
    margin-top: 1rem!important;
}
.lista-citas .cita span {
    font-weight: bold;
}
textarea {
    height: 200px!important;
}

svg {
    width: 21px;
}