@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);



a, a:hover {
    text-decoration: none;
    outline: none;
    color: black;

}

.fabutton {
    background: none;
    padding: 0px;
    border: none;
}
.note {
    font:18px 'Gloria Hallelujah', cursive;
    border:0;
    background: linear-gradient(#F9EFAF, #F7E98D);

}
