<form action="/notes/add" method="POST">
    <div class="form-group">
        <input type="text" name="title" class="form-control" placeholder="Titulo" autofocus>
    </div>
    <div class="form-group">
        <textarea  placeholder="Descripción" class="form-control" name="description" rows="3"></textarea>  
    
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-block"> 
            Guardar
        </button>
    </div>
</form>